@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


#btntop {
    display: none;
}

.topo {
    position: fixed;
    bottom: 20px;
    right: 20px;

}
.img-topo {
    width: 60px;
}
















