@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.container {
    background-color: #000;
}


.centralizador {
    max-width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}



.logo a{    
    color: #fff;
    text-decoration: none;
    font-family: 'Ultra', serif;
    letter-spacing: 3px;
    word-wrap: break-word;
}

.lista-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding: 1rem;
    
    
}


.lista-menu a {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif, serif;
    margin-right: 5rem;
    padding-bottom: 2px;
    font-weight: bold;
    letter-spacing: 1px;
}

#fixed {
    border-bottom: 4px solid #515151;
    
}

.lista-menu a:hover{
    border-bottom: 4px solid #515151;
    
}
 

@media (max-width:1200px){
   


}