
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
    
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}
.logo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px;
    box-shadow: 0px 1px 6px #000;
    
}
.menu {
    cursor: pointer;
}
.menu-line {
    width: 20px;
    height: 3px;
    background-color: #000;
    margin-bottom: 3px;
    
}



.container {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profissao {
    font-size: 50px;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.icones {
    font-size: 25px;
    font-weight:bold;
    color: #066163;
    border-top: 2px solid #000;
    margin-bottom: 5rem;
}

.buttom a {
    display: inline-block;
    background-color: #EFD345;
    text-decoration: none;
    color: #000;
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 0px 0px 5px;
    margin-right: 10px;
}

.buttom a.light  {
    color: #000;
    background-color: #fff;

}

.buttom3 a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.buttom a:hover{
    opacity: 0.7;
}
.buttom3 a:hover {
    color: #EFD345;
    transition: 0.4s;
}
.rightside {
    flex: 1;
    background-color: #EFD345;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-position: center;

    
}



footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    font-size: 14px;
    
}